/*  assigns Text color #FF0000 to button tags and When the user hovers over button tags, text color should change to #00FF00*/
$textColorButton: #3D3D3D; 
$textColorButtonOnHover: #FF0000;

button {
    color: $textColorButton; 

    &:hover {
        color: $textColorButtonOnHover; 
    }
}
