/*  assigns Font size 14px to all body tags, Font size 16px to all h1 tags inside body tags and Font size 12px to h1 tags of class .smaller inside body tags*/
$fontSizeBody: 14px;
$fontSizeHeadingOneBody: 16px;
$fontSizeHeadingOneSmaller: 12px;

body {
    font-size: $fontSizeBody;
    h1 {
        font-size: $fontSizeHeadingOneBody;
        &.smaller {
            font-size: $fontSizeHeadingOneSmaller;
        }
    }
}
