/*  assigns Text color #FF0000 to button tags and When the user hovers over button tags, 
text color should change to #00FF00*/
$fontSizeBody: 14px;
$fontSizeHeadingOneBody: 16px;
$fontSizeHeadingOneSmaller: 12px;

body {
    font-size: $fontSizeBody;
    h1 {
        font-size: $fontSizeHeadingOneBody;
        &.smaller {
            font-size: $fontSizeHeadingOneSmaller;
        }
    }
}
